body {
   font-size: 16px;
   font-weight: normal;
   background: rgb(189, 184, 184);
   color: rgb(36, 31, 31)
}

.container {
   max-width: 750px;
   margin: auto;
   padding-top: 30px;
}

.info {
   margin-bottom: 20px;
   display: flex;
}

.photo {
   width: 150px;
   border-radius: 20px;
   box-shadow: 4px 4px 14px rgba(0, 0 0.25)
}

.info-text {
   font-style: italic;
   font-weight: bold;
   color: rgb(41, 40, 40);
   margin-bottom: 10px;
   margin-left: 40px;
}

a {
   color: #000;
   text-decoration: none;
}

.a {
   margin-bottom: 20px;
}

a:hover {
   text-decoration: underline;
}

a:visited {
   color: grey;
}

.card {
   border-radius: 25px;
   padding: 15px 20px;
   margin-bottom: 20px;
}

.bg-green {
   background: rgb(173, 218, 51);
}

.bg-blue {
   background: rgb(79, 79, 180);
}

.form {
   text-align: center;
}


.form h2 {
   text-align: center;

}

.form label {
   display: block;
   font-size: 14px;
   color: #000;
}

.btn {
   background: rgb(54, 52, 52);
   padding: 15px 20px;
   color: white;
   border: none;
   font-family: inherit;
   cursor: pointer;
}

.btn:hover {
   opacity: 0.7;
}